.dobav {
    background-color: #9e9e9e;
    width: 20%;
    height: 5vh;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;    
    border-radius: 10px;
    font-weight: 600;
}

.sohranit,
.obnovit {
    border-radius: 10px;
    text-transform: uppercase;  
    width: 18%;    
    height: 5vh;
    padding: 0;    
    background-color: #8BC34A;
    font-weight: 600;
}

.obnovit {
    display: none;
}

.diyaStovarom {
    border-radius: 10px;
    height: 5vh;
    margin-right: 1vw;
}