.main{
    background-color: chocolate;
    width: 100%;
    min-height: 95vh;
    overflow: hidden;
    padding-top: 5vh;
}

.sozdat {
    width: 70%;     
    margin-top: 5vh;
    display: none;
}

.input {    
    width: 50%;
    font-size: 1.5em;
    border-radius: 10px;
    color: chocolate;
    height: 5vh;
    padding: 0;
    border: 0;
    margin: 0 5vh;
    padding-left: 5vw;
}

.sozdat input::placeholder {
    color: chocolate;
    opacity: 0.5;    
}

.spisok {
    width: 70%;     
    margin-top: 5vh;
}

.tovar{
    width: 60%;
    font-size: 1.5em;
    margin: 1.5vw 0;
    margin-left: 5vw;
    display: inline-block;
}

.textDecor {
    text-decoration: line-through;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

.displayInlineBlock {
    display: inline-block;
}
